{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-md-5 offset-md-3">
        <div class="card rounded m-2 shadow-sm border-0">
            <div class="card-body p-4">
                <h4 class="text-center">Sign Up</h4>
                <hr style="border-top:double 10px;
                    width: 60%;
                    color:dimgrey;
                ">
                <form method="POST" class="text-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-secondary btn-block" type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}