/* header */

.navbar {
    background: #28251f;
    font-size: large;
}

#nav-link,
#navbarDropdown {
    color: #fff;
}

#book-btn {
    border-color: #cda45e;
    color: #cda45e;
}

/* main background */
.container-fluid {
    padding: 0;
}
  
#main-background {
    background-image: url('https://res.cloudinary.com/dremtdt73/image/upload/v1678808564/main1_hui3nl.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
  
#background-text{
    padding: 40px;  
}
  
#background-text h5 {
    font-family: 'Tiro Devanagari Hindi', serif;
}

/* footer */
#footer {
    background: black;
    padding: 0 0 20px 0;
    color: #fff;
    text-align: center;
}
  
#footer .footer-top {
    background: #0c0b09;
    border-top: 1px solid #37332a;
    border-bottom: 1px solid #28251f;
    padding: 60px 0 20px 0;
}
  
#footer .footer-top .footer-info {
    margin-bottom: 30px;
}
  
#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase; 
}
  
#footer .footer-top .footer-info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;    
    color: #fff;
}
  
#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28251f;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
#footer .footer-top .social-links a:hover {
    background: #cda45e;
    color: #fff;
    text-decoration: none;
}
  
#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
  