{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@100;200;300;400;500;600;700;800;900&family=Tiro+Devanagari+Hindi:ital@1&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Title -->
      <title>De Jure Law Firm</title>
  </head>

  <body>
    <header>
      <!-- Navbar  -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="logo"><img src="https://res.cloudinary.com/dremtdt73/image/upload/v1679316052/logo-removebg-preview_1_znr8rk.png" style="width: 70px; height: 50px;" alt="logo"> </a>
          <a class="navbar-brand" href="{% url 'home' %}">De Jure</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-5">
              <li class="nav-item "><a class="nav-link" id="nav-home" href="{% url 'home' %}" >Home</a></li>
              <li class="nav-item "><a class="nav-link" id="nav-about" href="{% url 'about' %}" >About us</a></li>
              <li class="nav-item "><a class="nav-link" id="nav-blog" href="{% url 'blog' %}" >Blog</a></li>
              <li class="nav-item "><a class="nav-link" id="nav-contact" href="{% url 'contact' %}" >Contact</a></li>
                {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  <i class="far fa-user-circle fa-lg me-1"></i>Welcome, {{ user.username }}
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'bookings' %}">My bookings</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                  </div>
              </li>
                {% else %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-user-circle fa-lg me-1"></i>
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                      </div>
                  </li>
                {% endif %}
                  </ul>
                    <a href="{% url 'booknow' %}" class="btn btn-outline-light btn-lg add-post-button" id="book-btn">Book Now</a>
          </div>    
        </nav>
    </header>

<!-- Alert messages -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show text-center" id="msg" role="alert">
      {{ message | safe }}
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true" data-bs-dismiss="alert">&times;</span>
            </button>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<main>
<!--Block content-->
  {% block content %}
  {% endblock %}
</main>

<!-- Footer -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- first column -->
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>De Jure Law Firm</h3>
                <p><strong>"Experience, integrity, results"</strong></p>
          </div>
        </div>
        <!-- second column -->
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Address</h3>
              <p>A108 Adam Street<br>NY 535022, USA</p>
          </div>
        </div>
        <!-- third column -->
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Contacts</h3>
              <p><strong>Phone:</strong> +1 5589 55488 55<br>
                 <strong>Email:</strong> info@example.com<br>
              </p>
          </div>
        </div>
        <!-- fourth column -->
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Social Links</h3>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Copywrite Area -->
  <div class="container">
    <div class="copyright">
      &copy; Copyright<strong><span>De Jure Law Firm</span></strong>
      <script>document.write(new Date().getFullYear());</script>  
      All Rights Reserved
    </div>
  </div>
</footer>

<!-- for alert messages -->
<script>
  setTimeout(function() {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
  }, 2000);
</script>

  <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b9ef575fd8.js" crossorigin="anonymous"></script>
  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>

  </body>
</html>