{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="mb-4">Questions?</h1>
            <h5>Fill in the form below and we'll come back to you shortly!</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post">
                {% csrf_token %}
                {{ contact_form|crispy }}
                <button type="submit" class="btn btn-secondary btn-card btn-lg my-4">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}